In [19]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import Google_API_KEY

In [20]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2022-03-14 04:27:03,69.4541,-133.0374,-9.40,77,40,12.66
1,1,Rikitea,PF,2022-03-14 04:27:04,-23.1203,-134.9692,80.49,71,70,14.36
2,2,Kodiak,US,2022-03-14 04:27:04,57.7900,-152.4072,38.71,81,100,16.11
3,3,Bethel,US,2022-03-14 04:22:34,41.3712,-73.4140,29.93,72,100,0.00
4,4,Lagoa,PT,2022-03-14 04:27:05,39.0500,-27.9833,55.11,62,82,8.12

In [21]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [22]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=Google_API_KEY)

In [23]:
# Get the maximum temperatureand remove negative numbers
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))


## Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2022-03-14 04:27:04,-23.1203,-134.9692,80.49,71,70,14.36
6,6,Georgetown,MY,2022-03-14 04:26:00,5.4112,100.3354,87.73,77,20,4.61
9,9,Kalna,IN,2022-03-14 04:27:07,23.2167,88.3667,88.11,21,27,6.71
12,12,Butaritari,KI,2022-03-14 04:27:08,3.0707,172.7902,81.68,74,4,18.39
15,15,Avarua,CK,2022-03-14 04:27:10,-21.2078,-159.7750,82.45,78,99,5.75
16,16,Touros,BR,2022-03-14 04:27:10,-5.1989,-35.4608,79.11,83,90,6.55
18,18,Esperance,AU,2022-03-14 04:27:12,-33.8667,121.9000,82.24,60,11,17.31
22,22,Bengkulu,ID,2022-03-14 04:27:13,-3.8004,102.2655,84.31,67,100,7.78
27,27,Muisne,EC,2022-03-14 04:27:16,0.6000,-80.0333,76.33,89,57,1.92
30,30,Uribia,CO,2022-03-14 04:27:17,11.7139,-72.2660,78.28,74,84,15.41

In [29]:
preferred_cities_df.notnull().sum()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1      Rikitea      PF     80.49 -23.1203 -134.9692
6   Georgetown      MY     87.73   5.4112  100.3354
9        Kalna      IN     88.11  23.2167   88.3667
12  Butaritari      KI     81.68   3.0707  172.7902
15      Avarua      CK     82.45 -21.2078 -159.7750
16      Touros      BR     79.11  -5.1989  -35.4608
18   Esperance      AU     82.24 -33.8667  121.9000
22    Bengkulu      ID     84.31  -3.8004  102.2655
27      Muisne      EC     76.33   0.6000  -80.0333
30      Uribia      CO     78.28  11.7139  -72.2660

In [31]:
# Dependencies and Setup
import requests
import gmaps

# Import the API key.
from config import Google_API_KEY

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": Google_API_KEY
}

In [32]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
     # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [33]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng             Hotel Name
1      Rikitea      PF     80.49 -23.1203 -134.9692        People ThankYou
6   Georgetown      MY     87.73   5.4112  100.3354         Cititel Penang
9        Kalna      IN     88.11  23.2167   88.3667    Hotel Priyadarshini
12  Butaritari      KI     81.68   3.0707  172.7902     Isles Sunset Lodge
15      Avarua      CK     82.45 -21.2078 -159.7750           Paradise Inn
16      Touros      BR     79.11  -5.1989  -35.4608        INN NEW HORIZON
18   Esperance      AU     82.24 -33.8667  121.9000  Hospitality Esperance
22    Bengkulu      ID     84.31  -3.8004  102.2655   Grage Hotel Bengkulu
27      Muisne      EC     76.33   0.6000  -80.0333           Quinta Samay
30      Uribia      CO     78.28  11.7139  -72.2660           Hotel Uribia

In [34]:
hotel_df.notnull().sum()

City          155
Country       155
Max Temp      155
Lat           155
Lng           155
Hotel Name    155
dtype: int64

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))