## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import Google_API_KEY

# Configure gmaps
gmaps.configure(api_key=Google_API_KEY)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,1,Mar Del Plata,AR,50.88,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,3,Port Alfred,ZA,73.40,overcast clouds,-33.5906,26.8910,The Halyards Hotel
2,5,Westport,US,53.85,fog,41.1415,-73.3579,The Inn at Longshore
3,9,Rio Grande,BR,64.51,overcast clouds,-32.0350,-52.0986,Hotel Atlântico Rio Grande
4,11,Albany,US,50.95,overcast clouds,42.6001,-73.9662,NaN

In [3]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] =="Muros")]
vacation_end = vacation_df.loc[(vacation_df['City'] =="Muros")]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] =="Antas")]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] =="Lata")]
vacation_stop3 = vacation_df.loc[(vacation_df['City'] =="Colares")]

In [4]:
vacation_start

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
223,600,Muros,ES,50.16,scattered clouds,42.7762,-9.0603,Apartment Av. Castelao

In [5]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,600,Muros,ES,50.16,scattered clouds,42.7762,-9.0603,Apartment Av. Castelao
1,219,Antas,PT,49.68,broken clouds,41.7364,-8.3089,Casa da Veiga - Turismo Rural Geres
2,99,Lata,PT,45.91,clear sky,40.1629,-8.3327,Casa Maquia
3,136,Colares,PT,55.33,clear sky,38.7992,-9.4469,Arribas Sintra Hotel

In [6]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt style="font-weight: bold;">City</dt><dd>{City}</dd>
<dt style="font-weight: bold;">Country</dt><dd>{Country}</dd>
<dt style="font-weight: bold;">Current Weather</dt><dd>{Weather}</dd>
<dt style="font-weight: bold;">Current Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [7]:
# 11a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             #max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))